<main class="flex-container">
  <section id="quienes-somos" class="flex-container">
    <div>
      <h1>SOMOS <span>JUMPS</span></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quis
        quasi aut error atque, corrupti et sit. Numquam, porro eum Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Numquam, porro eum Lorem
        ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <a class="btn btn-orange px-24" href="/inicio#mision">¡CONÓCENOS!</a>
    </div>
    <img src="assets/img/quienes-somos.png" alt="" />
  </section>

  <div style="height: 150px; overflow: hidden">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M0.00,49.98 C143.06,20.22 243.50,179.11 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: var(--green-light)"
      ></path>
    </svg>
  </div>

  <section id="mision">
    <div class="flex-container section-container">
      <img src="assets/img/mision.png" alt="" />
      <div>
        <h2>MISIÓN</h2>
        <p>
          Generar un cambio en la sociedad que piensa que la sanidad del animal
          y su entorno suele ser un daño colateral, incluyendo así tanto
          empresas como organizaciones y demás.
        </p>
      </div>
    </div>
    <div style="height: 150px; overflow: hidden">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%"
      >
        <path
          d="M0.00,49.98 C143.06,20.22 243.50,179.11 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: var(--blue-light)"
        ></path>
      </svg>
    </div>
  </section>
  <section id="vision">
    <div class="flex-container section-container">
      <div>
        <h2>VISIÓN</h2>
        <p>
          Ser un intermediario que concientice al público en general acerca de
          la relevancia de sustentar tanto al animal como al entorno en el que
          radica.
        </p>
      </div>
      <img src="assets/img/vision.png" alt="" />
    </div>
    <div style="height: 150px; overflow: hidden">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%"
      >
        <path
          d="M0.00,49.98 C143.06,20.22 243.50,179.11 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: var(--blue)"
        ></path>
      </svg>
    </div>
  </section>
  <footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Sección 1</h3>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
      </div>
      <div class="footer-section">
        <h3>Sección 1</h3>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
      </div>
      <div class="footer-section">
        <h3>Sección 1</h3>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
      </div>
      <hr />
      <div class="footer-section">
        <a href="">correo@gmail.com</a>
        <a href="">667 1234 567</a>
      </div>
    </div>
  </footer>
</main>
