<div class="main-container">
  <div class="cover-container">
    <img
      src="https://es.postermywall.com/assets/images/landing-page/placeholder-image.png"
      alt=""
    />
    <div class="edit-cover">
      <a><i class="fa fa-camera" aria-hidden="true"></i></a>
      Editar foto de portada
    </div>
    <div class="main-photo">
      <div class="profile-img">
        <img [src]="authService.user.photo" alt="" />
        <a class="edit-profile"
          ><i class="fa fa-camera" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <!--========================== MAIN CARD ==========================-->
    <div class="card">
      <div class="name">
        <h1>{{ authService.user.name }}</h1>
        <div class="badge"></div>
      </div>
      <div class="email">
        <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
        {{ authService.user.mail }}
      </div>
      <div class="phone">
        <a><i class="fa fa-phone" aria-hidden="true"></i></a>
        {{ authService.user.phone }}
      </div>
      <hr />
      <div class="info">
        <h2>
          Casos: <small>{{ authService.user.noCases }}</small>
        </h2>
        <h2>
          Posts: <small>{{ authService.user.noPosts }}</small>
        </h2>
        <h2>
          Adopciones: <small>{{ authService.user.noAdoptions }}</small>
        </h2>
      </div>
      <div class="footer-card">
        <div>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>
          Miembro desde:
          {{ authService.user.creation_date | date }}
        </p>
      </div>
    </div>

    <!--========================== SAVED CARD ==========================-->
    <div class="card saved">
      <i class="fa fa-bookmark" aria-hidden="true"></i>
      <h2>Publicaciones guardadas</h2>
      <div class="minicards-container">
        <div class="minicards">
          <div class="minicard">
            <h4>El caso de Pepe, el gato curioso</h4>
            <div class="minicard-img">
              <img
                src="https://www.hola.com/imagenes/estar-bien/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg"
                alt="gato"
              />
            </div>
          </div>
          <div class="minicard">
            <h4>5 gatos que te sorprenderán</h4>
            <div class="minicard-img">
              <img
                src="https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg"
                alt="gato"
              />
            </div>
          </div>
          <div class="minicard">
            <h4>Curiosidades sobre gatos</h4>
            <div class="minicard-img">
              <img
                src="https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg"
                alt="gato"
              />
            </div>
          </div>
          <div class="minicard">
            <h4>Curiosidades sobre gatos</h4>
            <div class="minicard-img">
              <img
                src="https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg"
                alt="gato"
              />
            </div>
          </div>
          <div class="minicard">
            <h4>Curiosidades sobre gatos</h4>
            <div class="minicard-img">
              <img
                src="https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg"
                alt="gato"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--========================== LIKED CARD ==========================-->
    <div class="card saved">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <h2>Publicaciones gustadas</h2>
      <div class="minicards-container">
        <div class="minicards">
          <div class="minicard">
            <h4>Curiosidades sobre gatos</h4>
            <div class="minicard-img">
              <img
                src="https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg"
                alt="gato"
              />
            </div>
          </div>
          <div class="minicard">
            <h4>Curiosidades sobre gatos</h4>
            <div class="minicard-img">
              <img
                src="https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg"
                alt="gato"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
