<nav>
  <img src="assets/img/logo.png" alt="" routerLink="/inicio" />
  <ul>
    <li routerLinkActive="active" routerLink="/inicio">
      Inicio
      <div class="line"></div>
    </li>
    <li routerLinkActive="active" routerLink="/como-ayudar">
      ¿Cómo ayudar?
      <div class="line"></div>
    </li>
    <li routerLinkActive="active">
      Veterinarias
      <div class="line"></div>
    </li>
    <li routerLinkActive="active">
      Usuarios
      <div class="line"></div>
    </li>
    <li routerLinkActive="active">
      Blog
      <div class="line"></div>
    </li>
  </ul>
  <div class="profile" *ngIf="authService.isLogged()">
    {{ authService.user?.name }}
    <img class="avatar-img bc-orangelight" [src]="authService.user?.photo" alt="profile-img" />
    <app-profile-popup></app-profile-popup>
  </div>
  <div class="profile" *ngIf="!authService.isLogged()" routerLink="/login">
    <button class="login-btn">Login</button>
  </div>
</nav>