<div class="popup-container">
  <div class="popup-header">
    <img
      class="avatar-img bc-white"
      src="https://avatars.githubusercontent.com/u/47485144?v=4"
      alt=""
    />
    <div>
      <h2>Tu nombre</h2>
      <span routerLink="/profile">Ver tu perfil</span>
    </div>
  </div>
  <ul class="list-popup">
    <li class="item-popup">
      <div>
        <a href=""><i class="fa fa-history" aria-hidden="true"></i></a>
        <span>Historial</span>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </li>
    <li class="item-popup">
      <div>
        <a href=""><i class="fa fa-images" aria-hidden="true"></i></a>
        <span>Mis publicaciones</span>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </li>
    <li class="item-popup">
      <div>
        <a href=""><i class="fa fa-bookmark" aria-hidden="true"></i></a>
        <span>Guardadas</span>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </li>
    <li class="item-popup">
      <div>
        <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
        <span>Configuración</span>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </li>
    <li class="item-popup">
      <div>
        <a href=""><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <span>Salir</span>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </li>
  </ul>
</div>
