<div class="horizontal-container">
  <h2>Posts que pueden interesarte</h2>
  <div class="card">
    <img
      src="https://cadenaser00.epimg.net/ser/imagenes/2015/10/19/sociedad/1445252095_618647_1445271926_noticia_normal.jpg"
      alt=""
    />
    <p>Curiosidades sobre gatos</p>
    <a href="#"
      ><img
        src="https://pics.freeicons.io/uploads/icons/png/18926654601543238879-512.png"
        alt=""
    /></a>
  </div>
  <div class="card">
    <img
      src="https://ichef.bbci.co.uk/news/640/cpsprodpb/8536/production/_103520143_gettyimages-908714708.jpg"
      alt=""
    />
    <p>Los gatos más guapos</p>
    <a href="#"
      ><img
        src="https://pics.freeicons.io/uploads/icons/png/18926654601543238879-512.png"
        alt=""
    /></a>
  </div>
</div>
