<main>
    <section class="section1">
        <div class="text">
            <div style="align-items: flex-end;">
                <a class="title">¿Cómo ayudar?</a>
            </div>
            <div>
                <button>ADOPTAR</button>
                <button routerLink="/cases">DONAR</button>
            </div>
        </div>

        <div style="height: 150px; overflow: hidden; position: absolute; bottom:0;width: 100%;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
                <path d="M0.00,49.98 C143.06,20.22 243.50,179.11 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: var(--blue-light)"></path>
            </svg>
        </div>
    </section>
</main>