section {
    height: 80vh;
    margin: 100px 0 0 0;
}

.section1 {
    background-color: rgb(125, 207, 182, 0.5);
    position: relative;
}

.text {
    height: 100%;
}

.text div {
    padding: 0 0 24px 0;
    display: flex;
    justify-content: center;
    height: 50%;
}

.text div button {
    height: 36px;
    border: solid 2px var(--orange);
    border-radius: 8px;
    padding: 8px 10px;
    background-color: transparent;
    color: var(--orange);
    font-weight: 700;
    width: 150px;
    margin: 0 16px;
}
.text div button:hover {
    background-color: rgb(251, 209, 162, 0.5);
}

.title {
    font-size: 64px;
    color: var(--orange);
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}