/* You can add global styles to this file, and also import other style files */
.avatar-img {
  border-radius: 50%;
}
.bc-orangelight {
  border: 3px solid var(--orange-light);
}
.bc-greenlight {
  border: 3px solid var(--green-light);
}
.bc-white {
  border: 3px solid white;
}
.btn {
  border-radius: 20px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 42px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-green {
  background-color: var(--green-light);
}

.btn-orange {
  background-color: var(--orange);
}

.px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

body {
  background: url(assets/img/footprint-bg.png);
  background-color: #fbfbfb;
}

* {
  scroll-behavior: smooth;
}

.main-container {
  width: 90%;
  margin: 100px auto;
}
